.queriesTab {
  display:flex
}
  ul {
    padding-right: 40px;
  }
  ul>li {
    list-style-type: none;
    padding: 30px;
    background-color: white;
    color:green;    
    border: 1px solid white;
    cursor: pointer;
    width: 150px;
  }

  li:hover {
    background-color: green;
    color: white;
  }

  .active{
    background-color: green;
    color: white;
  }

  .not-active {
    background-color:red;
    color: white;
  }

  .query-statement {
    width: 100%;
    color: white;
    position: relative;
    top: 100px;
    left: 100%;
    font-size: 26px;
  }